<template>
  <div>
    <Menu />
    <PageHeader title="My Stores" image="https://picsum.photos/900/250/?image=7" />
    <MyProducts />
    <Footer />
  </div>
</template>
<script>
import PageHeader from '../../components/PageHeader'
import Menu from '../../components/Menu'
import Footer from '../../components/Footer'
import MyProducts from '../../components/MyProducts'

export default {
  components: { MyProducts, Footer, Menu, PageHeader },
  head () {
    return {
      title: 'Products'
    }
  }
}

</script>
