<template>
  <div>
    <Menu />
    <PageHeader title="My Companies" image="https://picsum.photos/900/250/?image=4" />
    <MyCompanies />
    <Footer />
  </div>
</template>
<script>
import PageHeader from '../../components/PageHeader'
import Menu from '../../components/Menu'
import Footer from '../../components/Footer'
import MyCompanies from '../../components/MyCompanies'

export default {
  components: { MyCompanies, Footer, Menu, PageHeader },
  head () {
    return {
      title: 'MyCompanies'
    }
  }
}

</script>
