<template>
  <b-container>
    <b-card bg-variant="light" header="Products on my cart" class="text-center">
      <b-card-text>
        <b-row>
          <b-col
            v-for="(product, index) in products"
            :key="index"
            sm="12"
            md="12"
            lg="12"
          >
            <b-card
              :title="product.name"
              :img-src="product.image"
              :img-alt="product.name"
              img-left
              class="mb-3"
            >
              <b-card-text>
                {{ product.description }}
                {{ product.description }}
                <br>
                Price: <strong>{{ priceFormat(product.price) }}</strong>
                <hr>
                <div class="text-center">
                  <b-button size="md" variant="danger" @click="removeItem(index)">
                    Remove
                  </b-button>
                </div>
                <hr>
              </b-card-text>
              <b-card-text class="small text-muted text-center">
                SKU: {{ product.sku }} <font-awesome-icon v-if="product.featured == 'yes'" :icon="['fas', 'tag']" />
              </b-card-text>
            </b-card>
          </b-col>
          <b-col v-if="products" class="text-right">
            SubTotal: <strong>{{ getSubTotal() }}</strong>
          </b-col>
        </b-row>
      </b-card-text>
    </b-card>
  </b-container>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'Cart',
  data () {
    return {
      products: []
    }
  },
  computed: {
    ...mapGetters(['showCart'])
  },
  beforeMount () {
    this.products = this.showCart
  },
  methods: {
    getSubTotal () {
      let total = 0
      return this.products.reduce((ids, thing) => {
        total = parseInt(total) + parseInt(thing.price)
        return this.priceFormat(total)
      }, 0)
    },
    removeItem (index) {
      this.$store.commit('removeCartItem', index)
    },
    priceFormat (value) {
      const val = (value / 1).toFixed(2).replace('.', ',')
      return '$ ' + val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
    }
  }
}
</script>

<style scoped>

</style>
