<template>
  <b-container>
    <b-row>
      <b-col>
        <b-alert
          :show="dismissCountDown"
          dismissible
          variant="success"
          @dismissed="dismissCountDown=0"
          @dismiss-count-down="countDownChanged"
        >
          <p><b>The product has been added to cart</b> This alert will dismiss after {{ dismissCountDown }} seconds...</p>
          <b-progress
            variant="success"
            :max="dismissSecs"
            :value="dismissCountDown"
            height="4px"
          />
        </b-alert>
      </b-col>
    </b-row>
    <b-row>
      <b-col
        v-for="product in products"
        :key="product.id"
        sm="12"
        md="4"
        lg="3"
      >
        <b-card
          :title="product.name"
          :img-src="product.image"
          :img-alt="product.name"
          img-top
        >
          <b-card-text>
            {{ product.description }}
            {{ product.description }}
            <br>
            Price: <strong>{{ priceFormat(product.price) }}</strong>
            <hr>
            <div class="text-center">
              <b-button size="sm" variant="info" @click="showDetail(product.id)">
                Details
              </b-button>
              <b-button size="sm" variant="warning" @click="addCart(product)">
                Add Cart
              </b-button>
            </div>
            <hr>
          </b-card-text>
          <b-card-text class="small text-muted text-center">
            SKU: {{ product.sku }} <font-awesome-icon v-if="product.featured == 'yes'" :icon="['fas', 'tag']" />
          </b-card-text>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'Catalog',
  props: {
    category: {
      type: String,
      default: '0'
    },
    criterio: {
      type: String,
      default: '0'
    }
  },
  data () {
    return {
      products: [],
      dismissSecs: 5,
      dismissCountDown: 0
    }
  },
  computed: {
    ...mapGetters(['isAuthenticated'])
  },
  beforeMount () {
    this.getProducts()
  },
  methods: {
    showDetail (product) {
      this.$router.push('/product/' + product)
    },
    countDownChanged (dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    addCart (product) {
      this.dismissCountDown = 5
      this.$store.commit('addCartItem', product)
    },
    priceFormat (value) {
      const val = (value / 1).toFixed(2).replace('.', ',')
      return '$ ' + val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
    },
    getProducts () {
      if ((this.category !== '0')) {
        this.$methodGet('products_category', this.isAuthenticated, (response) => {
          if (response.data.success) {
            this.products = response.data.data
          }
        }, '/' + this.category)
      } else if ((this.criterio !== '0')) {
        this.$methodGet('products_search', this.isAuthenticated, (response) => {
          if (response.data.success) {
            this.products = response.data.data
          }
        }, '/' + this.criterio)
      } else {
        this.$methodGet('products', this.isAuthenticated, (response) => {
          if (response.data.success) {
            this.products = response.data.data
          }
        })
      }
    }
  }
}
</script>

<style scoped>

</style>
