<template>
  <b-container>
    <div class="mt-5 text-center">
      Copyright &copy; 2021 - ynsitu.
    </div>
  </b-container>
</template>

<script>
export default {
  name: 'Footer'
}
</script>

<style scoped>

</style>
