<template>
  <b-container>
    <div v-if="showLogin">
      <form @submit.prevent="signIn()">
        <h3>Sign In</h3>
        <div class="form-group">
          <label>Email address</label>
          <input v-model="form.email" required type="email" class="form-control form-control-lg">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input v-model="form.password" required type="password" class="form-control form-control-lg">
        </div>
        <div v-if="error" class="alert alert-danger">
          Access Denied
        </div>
        <button type="button" class="btn btn-warning btn-lg btn-block" @click="signIn()">
          Sign In
        </button>
        <div class="text-center">
          - or -
        </div>
        <button type="button" class="btn btn-success btn-lg btn-block" @click="showLogin = false">
          Sign Up
        </button>
      </form>
    </div>
    <div v-else>
      <form>
        <h3>Sign Up</h3>
        <div class="form-group">
          <label>First Name</label>
          <input v-model="form.first_name" required type="text" class="form-control form-control-lg">
        </div>
        <div class="form-group">
          <label>Last Name</label>
          <input v-model="form.last_name" required type="text" class="form-control form-control-lg">
        </div>
        <div class="form-group">
          <label>Email address</label>
          <input v-model="form.email" required type="email" class="form-control form-control-lg">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input v-model="form.password" required type="password" class="form-control form-control-lg">
        </div>
        <div class="form-group">
          <label>Confirm Password</label>
          <input v-model="form.c_password" required type="password" class="form-control form-control-lg">
        </div>
        <div class="form-group">
          <label>Address</label>
          <input v-model="form.address" required type="text" class="form-control form-control-lg">
        </div>
        <div class="form-group">
          <label>Country</label>
          <input v-model="form.country" required type="text" class="form-control form-control-lg">
        </div>
        <div class="form-group">
          <label>City</label>
          <input v-model="form.city" required type="text" class="form-control form-control-lg">
        </div>
        <button type="button" class="btn btn-success btn-lg btn-block" @click="signUp()">
          Register
        </button>
        <div class="text-center">
          - or -
        </div>
        <button type="button" class="btn btn-warning btn-lg btn-block" @click="showLogin = true">
          Sign In
        </button>
      </form>
    </div>
  </b-container>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'Login',
  data () {
    return {
      showLogin: true,
      loggedIn: false,
      form: {},
      error: false,
      errorMessage: ''
    }
  },
  computed: {
    ...mapGetters(['isAuthenticated'])
  },
  methods: {
    signIn () {
      if (this.form.email && this.form.password) {
        this.$methodPost('login', this.form, '', (response) => {
          if (!response.data.success) {
            this.error = true
          } else {
            this.$store.commit('addsignedIn', response.data.data)
            this.$router.push('/')
          }
        })
      }
    },
    signUp () {
      if (this.form.email && this.form.password && this.form.first_name && this.form.last_name && this.form.c_password && this.form.address && this.form.country && this.form.city) {
        this.$methodPost('register', this.form, this.isAuthenticated, (response) => {
          if (response.data.success) {
            this.$store.commit('addsignedIn', response.data.data)
            this.$router.push('/')
          }
        })
      }
    }
  }
}
</script>

<style scoped>

</style>
