<template>
  <div>
    <header>
      <b-navbar toggleable="lg" variant="white">
        <!-- start header logo -->
        <b-navbar-brand href="/">
          <img src="~static/logo.png">
        </b-navbar-brand>
        <!-- end header logo -->
        <b-navbar-toggle target="nav-collapse" />
        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav>
            <!-- start nav home -->
            <b-nav-item href="/">
              Home
            </b-nav-item>
            <!-- end nav home -->
            <!-- start nav categories -->
            <b-nav-item-dropdown v-if="categories" text="Categories">
              <b-dropdown-item v-for="categorie in categories" :key="categorie.id" :href="'/products/'+categorie.id">
                {{ categorie.name }}
              </b-dropdown-item>
            </b-nav-item-dropdown>
            <b-nav-item href="/stores">
              Stores
            </b-nav-item>
          </b-navbar-nav>
          <!-- end nav categories -->
          <!-- Right aligned nav items -->
          <b-navbar-nav class="ml-auto">
            <!-- start nav login -->
            <b-nav-item v-if="!isAuthenticated" href="/login">
              Login/Sign up
            </b-nav-item>
            <b-nav-item-dropdown v-else text="My Account">
              <b-dropdown-item href="/myprofile">
                My Profile
              </b-dropdown-item>
              <b-dropdown-item href="/mycompanies">
                My Companies
              </b-dropdown-item>
              <b-dropdown-item @click="logout()">
                Logout
              </b-dropdown-item>
            </b-nav-item-dropdown>
            <!-- end nav login -->
            <!-- start nav cart -->
            <b-nav-item href="/cart">
              <font-awesome-icon :icon="['fas', 'shopping-cart']" />
              <b-badge>{{ showCart.length }}</b-badge>
            </b-nav-item>
            <!-- end nav cart -->
            <!-- start search form -->
            <b-nav-form @submit.prevent="search()">
              <b-form-input v-model="criterio" size="sm" class="mr-sm-2" placeholder="Search by full name" />
              <b-button size="sm" class="my-2 my-sm-0" type="button" @click="search()">
                <font-awesome-icon :icon="['fas', 'search']" />
              </b-button>
            </b-nav-form>
            <!-- end search form -->
          </b-navbar-nav>
        </b-collapse>
      </b-navbar>
    </header>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'Menu',
  data () {
    return {
      categories: [],
      criterio: ''
    }
  },
  computed: {
    ...mapGetters(['isAuthenticated']),
    ...mapGetters(['showCart'])
  },
  beforeMount () {
  },
  mounted () {
    // get all categories
    this.$methodGet('categories', this.isAuthenticated, (response) => {
      this.categories = response.data.data
    })
  },
  methods: {
    search () {
      this.$router.push('/search/' + this.criterio)
    },
    logout () {
      this.$store.commit('removesignedIn', false)
      if (this.$route.name !== 'index') {
        this.$router.push('/')
      }
    }
  }
}
</script>

<style scoped>

</style>
