<template>
  <b-container>
    <b-row>
      <b-col>
        <b-modal v-model="modalShow" centered title="Add Company" button-size="sm">
          <div class="my-4">
            <form>
              <div class="form-group">
                <label>NIT</label>
                <input v-model="form.nit" required type="number" class="form-control form-control-lg">
              </div>
              <div class="form-group">
                <label>Name</label>
                <input v-model="form.name" required type="text" class="form-control form-control-lg">
              </div>
              <div class="form-group">
                <label>Address</label>
                <input v-model="form.address" required type="text" class="form-control form-control-lg">
              </div>
              <div class="form-group">
                <label>Phone</label>
                <input v-model="form.phone" required type="number" class="form-control form-control-lg">
              </div>
            </form>
          </div>
          <template #modal-footer="{ hide }">
            <b-button size="sm" variant="success" @click="saveCompany()">
              Save
            </b-button>
            <b-button size="sm" variant="danger" @click="hide()">
              Cancel
            </b-button>
          </template>
        </b-modal>
        <div class="text-right">
          <b-button variant="warning" @click="modalShow = true">
            Add Company
          </b-button>
        </div>
      </b-col>
    </b-row>
    <b-container>
      <b-row>
        <b-col
          v-for="company in companies"
          :key="company.id"
          sm="12"
          md="4"
          lg="3"
        >
          <b-card
            :title="company.name"
            img-src="https://placekitten.com/500/350"
            img-alt="Image"
            img-top
          >
            <b-card-text>
              NIT: {{ company.nit }}
              <br>
              Address: {{ company.address }}
              <br>
              Phone: {{ company.phone }}
            </b-card-text>
            <b-card-text class="small text-muted text-center">
              <b-button size="sm" variant="success" @click="goCompany(company.id)">
                Show Stores
              </b-button>
            </b-card-text>
          </b-card>
        </b-col>
        <b-row />
      </b-row>
    </b-container>
  </b-container>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'MyCompanies',
  data () {
    return {
      companies: [],
      form: {},
      modalShow: false
    }
  },
  computed: {
    ...mapGetters(['isAuthenticated'])
  },
  beforeMount () {
    if (!this.isAuthenticated) {
      this.$router.push('/login')
    }
    this.getMyCompanies()
  },
  methods: {
    goCompany (id) {
      this.$router.push('/mycompanies/' + id)
    },
    saveCompany () {
      this.$methodPost('mycompanies', this.form, this.isAuthenticated, (response) => {
        if (response.data.success) {
          this.companies.push(response.data.data)
          this.form = {}
          this.modalShow = false
        }
      })
    },
    getMyCompanies () {
      this.$methodGet('mycompanies', this.isAuthenticated, (response) => {
        if (response.data.success) {
          this.companies = response.data.data
        }
      })
    }
  }
}
</script>

<style scoped>

</style>
