<template>
  <b-container>
    <b-row>
      <b-col>
        <b-modal v-model="modalShow" centered title="Add Product" button-size="sm">
          <div class="my-4">
            <form>
              <div class="form-group">
                <label>SKU</label>
                <input v-model="form.sku" required type="number" class="form-control form-control-lg">
              </div>
              <div class="form-group">
                <label>Name</label>
                <input v-model="form.name" required type="text" class="form-control form-control-lg">
              </div>
              <div class="form-group">
                <label>Description</label>
                <input v-model="form.description" required type="text" class="form-control form-control-lg">
              </div>
              <div class="form-group">
                <label>Price</label>
                <input v-model="form.price" required type="number" class="form-control form-control-lg">
              </div>
              <div class="form-group">
                <label>Image URL</label>
                <input v-model="form.image" required type="text" class="form-control form-control-lg">
              </div>
              <div class="form-group">
                <b-form-checkbox
                  id="checkbox-1"
                  v-model="form.featured"
                  name="checkbox-1"
                  value="yes"
                  unchecked-value="no"
                >
                  Featured
                </b-form-checkbox>
              </div>
              <div class="form-group">
                <label>Category</label>
                <b-form-select v-model="form.product_category" :options="categories" />
              </div>
            </form>
          </div>
          <template #modal-footer="{ hide }">
            <b-button size="sm" variant="success" @click="saveProduct()">
              Save
            </b-button>
            <b-button size="sm" variant="danger" @click="hide()">
              Cancel
            </b-button>
          </template>
        </b-modal>
        <div class="text-right">
          <b-button variant="warning" @click="modalShow = true">
            Add Product
          </b-button>
        </div>
      </b-col>
    </b-row>
    <b-container>
      <b-row>
        <b-col
          v-for="product in products"
          :key="product.id"
          sm="12"
          md="4"
          lg="3"
        >
          <b-card
            :title="product.name"
            :img-src="product.image"
            img-alt="Image"
            img-top
          >
            <b-card-text>
              SKU: {{ product.sku }}
              <br>
              Description: {{ product.description }}
              <br>
              Featured: {{ product.featured }}
              <br>
              Price: {{ product.price }}
              <br>
              Category: {{ getCategoryName(product.product_category) }}
            </b-card-text>
          </b-card>
        </b-col>
        <b-row />
      </b-row>
    </b-container>
  </b-container>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'MyProducts',
  data () {
    return {
      products: [],
      form: {},
      categories: [],
      modalShow: false
    }
  },
  computed: {
    ...mapGetters(['isAuthenticated'])
  },
  beforeMount () {
    if (!this.isAuthenticated) {
      this.$router.push('/login')
    }
    // get all categories
    this.$methodGet('categories', this.isAuthenticated, (response) => {
      response.data.data.forEach((item) => {
        this.categories.push({ value: item.id, text: item.name })
      })
    })
    this.getMyProducts()
  },
  methods: {
    getCategoryName (id) {
      return this.categories.reduce((ids, thing) => {
        if (thing.value === id) {
          ids = thing.text
        }
        return ids
      }, [])
    },
    saveProduct () {
      this.form.store_id = this.$route.params.id
      this.$methodPost('myproduct', this.form, this.isAuthenticated, (response) => {
        if (response.data.success) {
          this.products.push(response.data.data)
          this.form = {}
          this.modalShow = false
        }
      })
    },
    getMyProducts () {
      this.$methodGet('myproduct', this.isAuthenticated, (response) => {
        if (response.data.success) {
          this.products = response.data.data
        }
      }, '/' + this.$route.params.id)
    }
  }
}
</script>

<style scoped>

</style>
