<template>
  <b-container>
    <b-row>
      <b-col>
        <b-modal v-model="modalShow" centered title="Add Store" button-size="sm">
          <div class="my-4">
            <form>
              <div class="form-group">
                <label>NIT</label>
                <input v-model="form.nit" required type="number" class="form-control form-control-lg">
              </div>
              <div class="form-group">
                <label>Name</label>
                <input v-model="form.name" required type="text" class="form-control form-control-lg">
              </div>
              <div class="form-group">
                <label>Address</label>
                <input v-model="form.address" required type="text" class="form-control form-control-lg">
              </div>
              <div class="form-group">
                <label>Phone</label>
                <input v-model="form.phone" required type="number" class="form-control form-control-lg">
              </div>
            </form>
          </div>
          <template #modal-footer="{ hide }">
            <b-button size="sm" variant="success" @click="saveStore()">
              Save
            </b-button>
            <b-button size="sm" variant="danger" @click="hide()">
              Cancel
            </b-button>
          </template>
        </b-modal>
        <div class="text-right">
          <b-button variant="warning" @click="modalShow = true">
            Add Store
          </b-button>
        </div>
      </b-col>
    </b-row>
    <b-container>
      <b-row>
        <b-col
          v-for="store in stores"
          :key="store.id"
          sm="12"
          md="4"
          lg="3"
        >
          <b-card
            :title="store.name"
            img-src="https://placekitten.com/500/350"
            img-alt="Image"
            img-top
          >
            <b-card-text>
              NIT: {{ store.nit }}
              <br>
              Address: {{ store.address }}
              <br>
              Phone: {{ store.phone }}
            </b-card-text>
            <b-card-text class="small text-muted text-center">
              <b-button size="sm" variant="success" @click="goProducts(store.id)">
                Show Products
              </b-button>
            </b-card-text>
          </b-card>
        </b-col>
        <b-row />
      </b-row>
    </b-container>
  </b-container>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'MyStores',
  data () {
    return {
      stores: [],
      form: {},
      modalShow: false
    }
  },
  computed: {
    ...mapGetters(['isAuthenticated'])
  },
  beforeMount () {
    if (!this.isAuthenticated) {
      this.$router.push('/login')
    }
    this.getMyStores()
  },
  methods: {
    goProducts (id) {
      this.$router.push('/myproducts/' + id)
    },
    saveStore () {
      this.form.company_id = this.$route.params.id
      this.$methodPost('mystores', this.form, this.isAuthenticated, (response) => {
        if (response.data.success) {
          this.stores.push(response.data.data)
          this.form = {}
          this.modalShow = false
        }
      })
    },
    getMyStores () {
      this.$methodGet('mystores', this.isAuthenticated, (response) => {
        if (response.data.success) {
          this.stores = response.data.data
        }
      }, '/' + this.$route.params.id)
    }
  }
}
</script>

<style scoped>

</style>
