<template>
  <b-jumbotron class="jumbotron" text-variant="white" :header="title" :lead="subtitle" :style="'background-image:url('+image+')'" />
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'PageHeader',
  props: {
    title: {
      type: String,
      default: ''
    },
    subtitle: {
      type: String,
      default: ''
    },
    image: {
      type: String,
      default: ''
    }
  },
  computed: {
    ...mapGetters(['isAuthenticated'])
  },
  mounted () {
  }
}
</script>

<style scoped>
    .jumbotron{
        background-position: center center;
        background-size:cover;
        border-radius: 0;
    }
</style>
