<template>
  <b-container>
    <b-row>
      <b-col>
        <b-alert
          :show="dismissCountDown"
          dismissible
          variant="success"
          @dismissed="dismissCountDown=0"
          @dismiss-count-down="countDownChanged"
        >
          <p><b>The product has been added to cart</b> This alert will dismiss after {{ dismissCountDown }} seconds...</p>
          <b-progress
            variant="success"
            :max="dismissSecs"
            :value="dismissCountDown"
            height="4px"
          />
        </b-alert>
      </b-col>
    </b-row>
    <b-row>
      <b-col
        v-for="product in products"
        :key="product.id"
        sm="12"
        md="12"
        lg="12"
      >
        <b-card
          :title="product.name"
          :img-src="product.image"
          :img-alt="product.name"
          img-left
        >
          <b-card-text>
            {{ product.description }}
            {{ product.description }}
            <br>
            Price: <strong>{{ priceFormat(product.price) }}</strong>
            <hr>
            <div class="text-center">
              <b-button size="sm" variant="warning" @click="addCart(product)">
                Add Cart
              </b-button>
            </div>
            <hr>
          </b-card-text>
          <b-card-text class="small text-muted text-center">
            SKU: {{ product.sku }} <font-awesome-icon v-if="product.featured == 'yes'" :icon="['fas', 'tag']" />
          </b-card-text>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'Catalog',
  props: {
    setproduct: {
      type: String,
      default: '0'
    }
  },
  data () {
    return {
      products: [],
      dismissSecs: 5,
      dismissCountDown: 0
    }
  },
  computed: {
    ...mapGetters(['isAuthenticated'])
  },
  beforeMount () {
    this.getProducts()
  },
  methods: {
    countDownChanged (dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    addCart (product) {
      this.dismissCountDown = 5
      this.$store.commit('addCartItem', product)
    },
    priceFormat (value) {
      const val = (value / 1).toFixed(2).replace('.', ',')
      return '$ ' + val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
    },
    getProducts () {
      this.$methodGet('product_id', this.isAuthenticated, (response) => {
        if (response.data.success) {
          this.products = response.data.data
        }
      }, '/' + this.setproduct)
    }
  }
}
</script>

<style scoped>

</style>
