<template>
  <b-container>
    <b-container>
      <b-row>
        <b-col
          v-for="store in stores"
          :key="store.id"
          sm="12"
          md="4"
          lg="3"
        >
          <b-card
            :title="store.name"
            img-src="https://placekitten.com/500/350"
            img-alt="Image"
            img-top
          >
            <b-card-text>
              NIT: {{ store.nit }}
              <br>
              Address: {{ store.address }}
              <br>
              Phone: {{ store.phone }}
            </b-card-text>
          </b-card>
        </b-col>
        <b-row />
      </b-row>
    </b-container>
  </b-container>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'Stores',
  data () {
    return {
      stores: [],
      form: {},
      modalShow: false
    }
  },
  computed: {
    ...mapGetters(['isAuthenticated'])
  },
  beforeMount () {
    this.getStores()
  },
  methods: {
    getStores () {
      this.$methodGet('stores', this.isAuthenticated, (response) => {
        if (response.data.success) {
          this.stores = response.data.data
        }
      })
    }
  }
}
</script>

<style scoped>

</style>
