<template>
  <div>
    <Menu />
    <PageHeader title="Showing " subtitle="Product" image="https://picsum.photos/900/250/?image=3" />
    <Product :setproduct="$route.params.id" />
    <Footer />
  </div>
</template>
<script>
import PageHeader from '../../components/PageHeader'
import Menu from '../../components/Menu'
import Footer from '../../components/Footer'
import Product from '../../components/Product'
export default {
  components: { Product, Footer, Menu, PageHeader },
  head () {
    return {
      title: 'Show Product'
    }
  }
}
</script>
