<template>
  <div>
    <Menu />
    <PageHeader title="Cart" subtitle="Buy all Products" image="https://picsum.photos/900/250/?image=3" />
    <Cart />
    <Footer />
  </div>
</template>
<script>
import PageHeader from '../components/PageHeader'
import Menu from '../components/Menu'
import Footer from '../components/Footer'
import Cart from '../components/Cart'
export default {
  components: { Cart, Footer, Menu, PageHeader },
  head () {
    return {
      title: 'Cart'
    }
  }
}
</script>
