<template>
  <div>
    <Menu />
    <PageHeader title="Home" subtitle="Best Products" image="https://picsum.photos/900/250/?image=3" />
    <Catalog />
    <Footer />
  </div>
</template>
<script>
import PageHeader from '../components/PageHeader'
import Menu from '../components/Menu'
import Footer from '../components/Footer'
import Catalog from '../components/Catalog'
export default {
  components: { Catalog, Footer, Menu, PageHeader },
  head () {
    return {
      title: 'Home'
    }
  }
}
</script>
