<template>
  <div>
    <Menu />
    <PageHeader title="Login / Register" image="https://picsum.photos/900/250/?image=5" />
    <Login />
    <Footer />
  </div>
</template>
<script>
import PageHeader from '../components/PageHeader'
import Menu from '../components/Menu'
import Footer from '../components/Footer'
import Login from '../components/Login'
export default {
  components: { Login, Footer, Menu, PageHeader },
  head () {
    return {
      title: 'Login'
    }
  }
}
</script>
