<template>
  <div>
    <Menu />
    <PageHeader title="Stores" subtitle="Best Stores" image="https://picsum.photos/900/250/?image=3" />
    <Stores />
    <Footer />
  </div>
</template>
<script>
import PageHeader from '../components/PageHeader'
import Menu from '../components/Menu'
import Footer from '../components/Footer'
import Stores from '../components/Stores'
export default {
  components: { Stores, Footer, Menu, PageHeader },
  head () {
    return {
      title: 'Stores'
    }
  }
}
</script>
