<template>
  <div>
    <Menu />
    <PageHeader title="My Stores" image="https://picsum.photos/900/250/?image=7" />
    <MyStores />
    <Footer />
  </div>
</template>
<script>
import PageHeader from '../../components/PageHeader'
import Menu from '../../components/Menu'
import Footer from '../../components/Footer'
import MyStores from '../../components/MyStores'

export default {
  components: { MyStores, Footer, Menu, PageHeader },
  head () {
    return {
      title: 'Stores'
    }
  }
}

</script>
